{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "mocha": true,
    "jest": true
  },
  "extends": [
    "airbnb",
    "prettier",
    "prettier/react"
  ],
  "plugins": [
    "prettier"
  ],
  "settings": {
    "import/resolver": {
      "webpack": {
        "config" : "./webpack/webpack.development.config.js"
      }
    }
  },
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "prettier/prettier": ["error", {
      "singleQuote": true,
      "trailingComma": "all"
    }],
    "no-unused-vars": 0,
    "react/require-default-props": 0,
    "no-shadow": 0,
    "no-underscore-dangle": 0,
    "no-console": 0
  }
}
